.header {
  display: flex;
	align-items: center;
  flex-wrap: wrap;
  top: 0;
  left: 0;
	width: 100%;
	z-index: 40;
	user-select: none;
  background: #fff;
	@extend .admin-style;

  @include ie11() {
    justify-content: center;

    >.row {
      width: 100%;
      margin: 0;
      flex: none !important;
    }
  }
  .header-logo-row {
    width: 100%;
    >.row {
  		width: 100%;
  		>.columns {
  			display: flex;
  			align-items: center;
  		}
  	}
  }
  >.row {
		width: 100%;
		>.columns {
			display: flex;
			align-items: center;
		}
	}
	.mobile-toggle-holder {
		display: inline-flex;
	}
  .thb_header_left,
  .thb_header_right {
    width: 100%;
    >*:last-child {
      margin: 0;
    }
  }
  .thb_header_right {
    text-align: right;
  }
}
.logo-holder {
  display: inline-flex;
  padding: 10px 0;
  .logolink {
  	display: inline-flex;
  	position: relative;
    align-items: center;
  	.logoimg {
  		max-height: 72px;
      object-fit: contain;
  		@extend .quick-transition;
  		&.logo-light {
  			opacity: 0;
  			position: absolute;
  			top: 0;
  			left: 0;
        height: 100%;
  		}
  		&[src$=".svg"] {
        max-height: 100%;
        height: 73px;
      }
    }
  }
}
.thb-navbar {
  display: flex;
  width: 100%;
  min-height: 60px;
  align-items: center;
}
.header {
  // Center Logo
	&.style1 {
    flex-direction: column;
    .logo-holder {
      margin: 0 auto;
    }
    .thb-navbar {
      position: relative;
      justify-content: space-between;
      .full-menu {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate3d(-50%, -50%, 0);
      }
    }
  }
  // Styles
  &.style1 {
    .thb-navbar {
      border-bottom: 1px solid $border;
    }
  }
  &.style2 {
    flex-direction: column;
    .logo-holder {
      margin: 0 auto;
    }
    .thb-navbar {
      position: relative;
      justify-content: center;
      border-top: 1px solid $border;
    }
    .thb-full-menu li.menu-item-mega-parent>.sub-menu.thb_mega_menu_holder {
      left: 0 !important;
    }
    .secondary-area {
      margin-left: auto;
    }
  }
  &.style3 {
    flex-direction: column;
    .logo-holder {
      margin: 0 auto;
    }
    .thb-navbar {
      position: relative;
      z-index: 50;
      justify-content: space-between;
      >.row {
        flex: 1;
      }
      .full-menu {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate3d(-50%, -50%, 0);
      }
    }
  } // .style3
  &.style4 {
    .thb-navbar {
      position: relative;
      z-index: 50;
      justify-content: space-between;
      >.row {
        flex: 1;
      }
    }
    .logo-holder {
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate3d(-50%, -50%, 0);
    }
  } // .style4
  &.style5 {
    flex-direction: column;
    .thb-navbar {
      border-top: 1px solid $border;
      position: relative;
    }
    .secondary-area {
      margin-left: auto;
    }
  } // .style5
  &.style6,
  &.style9 {
    .thb-navbar {
      align-items: stretch;
      position: relative;
      .full-menu {
        margin-left: 35px;

        .thb-full-menu {
          height: 100%;
        }
      }
      .secondary-area {
        margin-left: auto;
      }
      .mobile-toggle-holder {
        & + .logo-holder {
          margin-left: 20px;
        }
      }
    }
  } // .style6
  &.style7 {
    flex-direction: column;
    .thb-navbar {
      justify-content: space-between;
      position: relative;
    }
    .logo-holder {
      margin: 0 auto;
    }
  }
  &.style8 {
    .thb-navbar {
      justify-content: space-between;
      position: relative;
    }
    .logo-holder {
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate3d(-50%, -50%, 0);
    }
  }
  &.style9 {
    border-bottom: 1px solid $border;
  }
  &.style10 {
    .thb-navbar {
      position: relative;
      z-index: 50;
      justify-content: space-between;
      >.row {
        flex: 1;
      }
      .full-menu {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        @include translate3d(-50%, -50%, 0);

        .thb-full-menu {
          height: 100%;
        }
      }
    }
  }
  &.header-full-width {
    &>.row {
      max-width: 100%;
      padding: 0 10px;
    }
    .thb_mega_menu_holder>.row.max_width {
      margin: 0 auto;
    }
  }
  &:not(.fixed) {
    .logo-holder {
      @include min-break($break-medium) {
        padding: 30px 0;
      }
    }
  }
  &.fixed {
    background: #fff;
    position: fixed;
    z-index: 150;
    @include transition(transform .5s $transition);
    @include translateY(-100%);

    &:before {
    	content: '';
    	display: block;
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	z-index: -1;
    	opacity: 0;
      pointer-events: none;
    	@extend .quick-transition;
    }
    &:not(.header-mobile) {
      .logo-holder .logolink .logoimg {
        max-height: 30px;
      }
    }
    &.header-mobile {
      @include translateY(0%);


      &.fixed-enabled {
        &.headroom--unpinned {
          @include translateY(-100%);
        }
      }
    }
    &:not(.fixed-enabled) {
      .thb-reading-indicator {
        opacity: 0;
        pointer-events: none;
      }
    }
    .thb-reading-indicator {
      position: absolute;
      top: calc(100% + 40px);
      right: 40px;
      cursor: pointer;
      opacity: 1;
      transform-origin: center;
      @extend .mid-transition;
      &:active {
        @include scale(0.95);
      }
      .rtl & {
        right: auto;
        left: 40px;
      }
      &:hover {
        .thb-indicator {
          .indicator-hover {
            @include scale(1);
            @include ie11() {
              fill: $accent;
            }
          }
          .indicator-arrow {
            fill: #fff;
          }
        }

      }
      .thb-indicator {
        width: 60px;
        height: 60px;
        @include rotateZ(-90);

        .indicator-hover {
          fill: $accent;
          transform-origin: center;
          @include scale(0);
          @extend .mid-transition;

          @include ie11() {
            fill: transparent;
          }
        }
        .indicator-base {
          fill: #e5e5e5;
        }
        .indicator-fill {
          stroke: $accent;
          stroke-width: 25px;
          fill: transparent;
        }
        .indicator-arrow {
          fill: $accent;
          @include rotateZ(90);
          transform-origin: center;
          @extend .mid-transition;
        }
      }
    }
    .fixed-logo-holder {
      display: inline-flex;
      align-items: center;

      .logo-holder {
        margin-left: 20px;

        .rtl & {
          margin-left: 0;
          margin-right: 20px;
        }
      }
    }
    .fixed-title-holder {
      display: inline-flex;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate3d(-50%, -50%, 0);
      max-width: 40%;

      span {
        display: none;
        font-size: 11px;
        text-transform: uppercase;
        position: relative;
        margin-right: 20px;
        padding-right: 20px;
        white-space: nowrap;

        @include min-break($break-small) {
          display: inline-flex;
        }
        @include max-break($break-medium) {
          margin-right: 10px;
          padding-right: 10px;
        }
        &:after {
          content: '';
          position: absolute;
          top: -5px;
          bottom: -5px;
          width: 1px;
          background: $border;
          right: 0;
        }
        .rtl & {
          margin-right: 0;
          padding-right: 0;
          margin-left: 20px;
          padding-left: 20px;
          @include max-break($break-medium) {
            margin-right: 0;
            padding-right: 0;
            margin-left: 10px;
            padding-left: 10px;
          }
          &:after {
            right: auto;
            left: 0;
          }
        }
      }
      .fixed-article-title {
        display: block;
        overflow: hidden;
      }
      h6 {
        display: block;
        margin: 0;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .thb-navbar {
      justify-content: space-between;
    }
    &.fixed-enabled:not(.headroom--unpinned) {
      @include translateY(0%);

      .open-menu & {
        @include translateY(-100%);
      }
    }
    &.fixed-style1 {
      .full-menu {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate3d(-50%, -50%, 0);
      }
    }
    &.fixed-style2 {
      .logo-holder {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate3d(-50%, -50%, 0);
      }
    }
    &.thb-fixed-shadow-style1:before {
			@include box-shadow(0 2px 5px rgba(0,0,0,0.07));
		}
		&.thb-fixed-shadow-style2:before {
			@include box-shadow(0 9px 38px rgba(0,0,0,0.05), 0 5px 12px rgba(0,0,0,0.1));
		}
		&.thb-fixed-shadow-style3:before {
			@include box-shadow(0 19px 38px rgba(0,0,0,0.1), 0 5px 22px rgba(0,0,0,0.15));
		}
		&.headroom--not-top.headroom--pinned {
			&:before {
				opacity: 1;
			}
		}
    &.light-header {
      &:after {
        content: '';
        height: 1px;
        width: 100%;
        background: rgba(#000,0.08);
        position: absolute;
        bottom: 0;
        left: 0;
        pointer-events: none;
      }

    }
    &.dark-header {
      .fixed-title-holder {
        color: #fff;

        span:after {
          background: rgba(#fff,0.2);
        }
      }
      .thb-social-fixed .social-button-holder {
        color: #fff;
        a:not(:hover) {
          color: #fff;
        }
      }
    }
  } // .fixed
}

/* Dark Header */
.header.dark-header {
  background: $black;

  .thb-full-menu>li>a:not(.logolink),
  .secondary-area .thb-full-menu li.menu-item-has-children>a,
  .woocommerce-mini-cart__empty-message {
    color: #fff;
  }
  svg {
    fill: #fff;
  }
  .mobile-toggle-holder .mobile-toggle span {
    background: #fff;
  }

  &.style1 .thb-navbar {
    border-color: transparent;
  }
  &.style2 .thb-navbar,
  &.style5 .thb-navbar {
    border-color: rgba(255,255,255,0.2);
  }
  &.style3 {
    background: transparent;

    .menu-row {
      background: $black;
    }
  }
  .thb-social-links-container.thb-social-horizontal .thb-social-link-wrap .thb-social-link {
    color: #fff;
  }
}
/* Search Popup */
.thb-search-popup {
  visibility: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 40px 15px;
  background: #fff;
  opacity: 0;
  z-index: 999;
  text-align: center;
  @extend .admin-style;
  @include min-break($break-small) {
    padding: 60px 40px;
  }
  &:after {
		@include ie11() {
			content: '';
			min-height: inherit;
			font-size: 0;
			display: block !important;
		}
	}
  @include ie11() {
    min-height: auto;
    height: 100vh;
  }
  .thb-mobile-close {
    position: absolute;
    top: 15px;
    right: 15px;

    @include min-break($break-small) {
      top: 30px;
      right: 30px;
    }
  }
  .thb-close-text {
    font-size: 10px;
    opacity: 0.6;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;

    @include min-break($break-small) {
      top: 40px;
    }
  }
  .searchform {
    .search-field {
      font-size: 14px;
      text-transform: uppercase;
      padding: 0 0 15px 0;
      margin-bottom: 40px;
      background: transparent;
    }
  }
  .search-main-row {
    width: 100%;
    padding: 0 !important;
    margin: 0 auto;
  }

  .results-found {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1;
  }
  .thb-autocomplete-wrapper {
    position: relative;


    .thb-preloader {
      position: absolute;
      top: 50%;
      margin-top: -25px;
      width: 100%;
      left: 0;
      opacity: 0;
      pointer-events: none;
    }

    &.thb-loading {
      min-height: 100px;

      .thb-preloader {
        opacity: 1;
      }
      .thb-results-container {
        pointer-events: none;
        opacity: 0.3;
      }
    }
    .thb-results-container {
      width: 100% !important;

      .thb-search-btn {
        width: 100%;
      }
      .btn {
        margin: 25px auto 0;
      }

      .autocomplete-suggestion {
        text-align: left;
        margin-bottom: 25px;
        a {
          display: flex;
          align-items: center;
          .post-gallery {
            width: 72px;
            height: 72px;
            margin-right: 23px;
            flex-shrink: 0;
          }
          .post-title {
            h6 {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

/* Secondary Area */
.secondary-area {
  position: relative;
  display: flex;
  .thb-search-icon,
  .thb-trending-icon,
  .thb-cart-icon {
    width: 14px;
    height: 14px;
  }
  >div {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
  }
  .thb-full-menu {
    height: 100%;
  }
  .thb-search-holder,
  .thb-cart-holder {
    padding-left: 10px;

    @include min-break($break-small) {
      padding-left: 20px;
    }
    .rtl & {
      padding-left: 0;
      padding-right: 10px;
      @include min-break($break-small) {
        padding-left: 0;
        padding-right: 20px;
      }
    }
  }
  .thb-search-holder {
    cursor: pointer;
  }
  .thb-cart-holder {
    .float_count {
      margin-left: 3px;
      @include min-break($break-small) {
        margin-left: 7px;
      }
      .rtl & {
        margin-left: 0;
        margin-right: 3px;
        @include min-break($break-small) {
          margin-left: 0;
          margin-right: 7px;
        }
      }
    }
  }
  .thb-trending-holder,
  .thb-follow-holder,
  .thb-instagram-holder,
  .thb-cart-holder {
    .thb-full-menu li.menu-item-has-children {
      >a {
        padding-left: 20px;
      }
      .sub-menu {
        left: auto;
        right: 0;
        padding: 0;
        text-align: left;

        .rtl & {
          left: 0;
          right: auto;
          text-align: right;
        }
        a {
          padding: 0;
        }
      }
      .thb-social-links-container.thb-social-vertical .thb-social-link {
        opacity: 1;
      }
    }
  }
  .thb-cart-holder {
    .thb-full-menu li.menu-item-has-children {
      position: static;

      >a {
        padding-left: 0;
        &:after {
          display: none;
        }
      }
      >.sub-menu {
        padding: 30px;
        width: 395px;
      }
    }
    .widget.widget_shopping_cart {
      margin: 0;

      .product_list_widget {
        a:not(.remove) {
      		display: block;
      		font-weight: 400;
      		color: $black;
          opacity: 1;
          line-height: 1.6;
          text-transform: none;
          font-size: 14px;

          .thb-dropdown-color-dark & {
            color: #fff;
          }
        }
        .remove {
          opacity: 1;
        }
        li {
          .thb-dropdown-color-dark & {
            border-color: rgba(#fff,0.15);

            .quantity,
            .woocommerce-Price-amount {
              color: rgba(#fff,0.75);
            }
          }
        }
      }
      .woocommerce-mini-cart__total {
        .thb-dropdown-color-dark & {
          border-color: rgba(#fff,0.15);
          color: #fff;
          strong {
            color: rgba(#fff,0.75);
          }
        }
      }
      .button {
        opacity: 1;
        justify-content: center;
      }
    }
  }
  .thb-trending-holder {
    .thb-full-menu li.menu-item-has-children {
      position: static;

      >a {
        &:after {
          display: none;
        }
        svg {
          position: relative;
          top: 1px;

          &.thb-trending-icon-style2 {
            width: 20px;
          }
          &.thb-trending-icon-style3 {
            height: 16px;
          }
        }
      }
      .sub-menu {
        width: 360px;

        .thb-trending {

          .thb-trending-tabs {
            display: flex;
            a {
              display: inline-flex;
              flex: 1;
              height: 46px;
              align-items: center;
              justify-content: center;
              border-bottom: 1px solid $border;
              font-size: 11px;
              text-transform: uppercase;
              font-weight: 500;
              color: #6b6b6b;

              .thb-dropdown-color-dark & {
                border-color: rgba(#fff,0.15);

                &:hover {
                  color: #fff;
                }
              }
              &:hover {
                color: $black;
              }
              & + a {
                border-left: 1px solid $border;
              }
              &.active {
                background: $accent;
                border-color: $accent;
                color: #fff;
                + a {
                  border-left-color: $accent;
                }
              }
            }
          } // .thb-trending-tabs
          .thb-trending-content {
            padding: 30px;
            position: relative;
            .thumbnail-style3 {
              .post-gallery {
                height: 56px;
                width: 56px;
                margin-right: 20px;

                .rtl & {
                  margin-right: 0;
                  margin-left: 20px;
                }
              }
              .post-title h5 {
                font-size: 16px;
              }
              &:last-of-type {
                margin: 0;
              }
            }
            .thb-preloader {
              position: absolute;
              top: 50%;
              left: 0;
              width: 100%;
              opacity: 0;
              margin-top: -25px;
            }
            &.thb-loading {
              .thb-preloader {
                opacity: 1;
              }
              .thb-trending-content-inner {
                pointer-events: none;
                opacity: 0.3;
              }
            }
          } //.thb-trending-content
        } //.thb-trending
      }
    }
  } // .thb-trending-holder
  .thb-follow-holder {
    .thb-full-menu li.menu-item-has-children {
      position: static;

      >a {
        padding-left: 0;
      }
    }
    .sub-menu {
      width: 325px;

      li {
        white-space: normal;
        padding: 15px;
        margin: 0;
        @include min-break($break-medium) {
          padding: 30px;
        }
      }
      .subscribe_part {
        background: #fff4f4;
        .thb-dropdown-color-dark & {
          background: rgba(#fff,0.05);
          color: #fff;

          label,
          .widget_subscribe {
            color: #fff;
          }
          .widget_subscribe {
            @include input-placeholder() {
              color: rgba(#fff,0.5);
            }
          }
        }
        .thb-newsletter-form {
          text-align: left;

          .rtl & {
            text-align: right;
          }
          h4 {
            font-size: 12px;
            color: $accent;
          }
          p {
            font-size: 14px;
          }
          .newsletter-form {
            position: relative;
            .widget_subscribe {
              background: transparent;
              border: 0;
              height: auto;
              border-bottom: 1px solid $black;
              border-radius: 0;
              padding: 0 60px 15px 0;
              font-size: 10px;
              margin: 0;
              min-width: 0;
              width: 100%;
              text-transform: uppercase;

              .rtl & {
                padding: 0 0 15px 60px;
              }
              .thb-dropdown-color-dark & {
                border-color: rgba(#fff,0.15);
              }
            }
            .btn {
              position: absolute;
              top: 0;
              right: 0;
              z-index: 20;
              padding: 0;
              font-size: 10px;
              font-weight: 600;
              height: auto;
              line-height: 1;
              padding-bottom: 15px;
              color: $black;
              text-transform: uppercase;
              background: transparent !important;

              .thb-dropdown-color-dark & {
                color: #fff;
              }
              &:hover {
                color: $accent;
              }
              .rtl & {
                right: auto;
                left: 0;
              }
            }
          }
        }
      }
    }
  } // .thb-follow-holder
} // .secondary-area

/* Mobile Header */
.mobile-header-holder {
  z-index: 100;
  position: relative;

  @include min-break($break-medium) {
    display: none;
  }
}
.header {
  &:not(.header-mobile) {
    display: none;
    @include min-break($break-medium) {
      display: flex;
    }
  }
  &.header-mobile {
    display: flex;
    padding: 10px 0;
    @include min-break($break-medium) {
      display: none;
    }
    >.row {
      padding: 0 15px;
      @include min-break($break-small) {
        padding: 0 50px;
      }
      .columns {
        padding: 0
      }
    }
    .secondary-area {
      margin-left: auto;
    }
    .logo-holder {
      margin: 0 auto;

      .logolink .logoimg {
        max-height: 30px;
      }
    }
  } // .header-mobile
}
.thb_before_header {
  overflow: hidden;
}