/* Mobile Menu */
#mobile-menu {
	.logo-holder {
		padding: 0;
		width: 100%;
		padding: 20px;
		flex-shrink: 0;
	}
	.logolink {
		display: block;
		.logoimg {
			max-height: 40px;
		}
	}
	.thb-mobile-search {
		margin-bottom: 20px;
    max-width: 200px;
		input[type="text"] {
			height: 42px;
			padding: 12px 15px;
		}
		.submit {
			right: 5px;
			top: calc(50% + 1px);
			svg {
				width: 14px;
			}
		}
	}

	/* Widgets */
	.widget {
		margin-bottom: 30px;
		p {
			font-size: 16px;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
		&:first-of-type {
			border-top: 1px solid $border;
			padding-top: 40px;
		}
	}
	.thb-newsletter-form {
		h4 {
			text-transform: none;
			font-size: 18px;
			letter-spacing: normal;
			font-weight: 300;
			margin-bottom: 20px;
		}
	}
	/* Mobile Menu Footer */
	.mobile-menu-top {
		flex: 1;
		margin-right: 5px;

		@include ie11() {
			flex: none;
		}
	}
	.menu-footer {
		font-size: 12px;

		p {
			font-size: inherit;

		}
		a {
			color: rgba($black, 0.4);

			&:hover {
				color: rgba($black, 1);
			}
		}
	}

	/* Social Links */
	.thb-social-links-container {
		text-align: center;
		.thb-social-link-wrap {
			padding: 0 5px 0 0;

			.thb-social-link .thb-social-icon-container {
				font-size: 20px;
			}
		}
	}
	&.dark {
		background: $black;

		.thb-mobile-search {
			input[type="text"] {
		    background: transparent;
		    border-color: rgba(255,255,255,0.1);

				@include input-placeholder {
					color: rgba(#fff, 0.25);
				}
			}
			.submit svg {
			  fill: #fff;
			}
		}
		.thb-mobile-close span {
			background: rgba(#fff, 0.6);

			&:before {
				background: #fff;
			}
		}
		.thb-mobile-language-switcher a {
			color: #fff;
		}
		.thb-mobile-language-switcher a:after {
			background: #fff;
		}
		.thb-mobile-menu>li>a {
			color: #fff;

			&:hover {
				color: $color2;
			}
		}
		.thb-mobile-menu li.menu-item-has-children>a .thb-arrow div {
			background: rgba(#fff, 0.7);
		}
		.sub-menu a {
			color: rgba(#fff, 0.75);

			&:hover {
				color: $color2;
			}
		}

		.thb-secondary-menu a {
			color: rgba(#fff, 0.6);

			&:hover {
				color: $color2;
			}
		}
		.widget {
			color: rgba(255,255,255,0.8);
			h1,h2,h3,h4,h5,h6, label {
				color: #fff;
			}
			.post .post-title a {
				color: #fff;
			}
			&.thb_widget_subscribe {
				.btn {
					background: #fff;
					color: $black;

					&:hover {
						color: #fff;
					}
				}
			}
			&:first-of-type {
				border-color: rgba(255,255,255,0.15);
			}
			&.thb_widget_top_reviews .post .widget-review-title-holder,
			&.thb_widget_top_reviews .post .widget-review-title-holder .thb-widget-score {
				border-color: rgba(255,255,255,0.15);
			}
		}
		input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
			@extend .dark-form-elements;
		}
		.menu-footer a {
			color: #fff;
		}
		.menu-footer {
			color: rgba(#fff, 0.75);
		}
		.thb-social-links-container .thb-social-link {
			color: #fff;
		}
	} /* End .dark */

  .menubg-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-size: cover;
    pointer-events:none;
	}
}

/* Mobile Menu */
.thb-mobile-menu {
	line-height: 1;
	margin: -13px 0 27px;
	padding: 0;
	list-style: none;
	&>li {
		&>a {
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-transform: none;
			position: relative;
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
			padding: 13px 0;
			&:not(:hover) {
				color: $black;
			}
		}
	}
	li {
    &.menu-item-has-children {
    	&>a {
				position: relative;
    		.thb-arrow {
    			display: inline-flex;
					align-items: center;
					justify-content: flex-end;
    			position: absolute;
					top: 0;
					right: 0;
    			height: 100%;
    			width: 30px;
					font-size: 20px;
					font-weight: 400;

					.rtl & {
						right: auto;
						left: 0;
					}
    		}
    	}
    }
  }

  .sub-menu {
		display: none;
		font-size: 11px;
		margin: 10px 0 10px 20px;
		list-style: none;

		a {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 8px 0;
			line-height: 1;
			text-transform: uppercase;
			&:not(:hover) {
				color: lighten($black, 20%);
			}
		}
	}
}
.thb-secondary-menu {
	padding-top: 30px;
	margin: 0 0 30px;
	list-style: none;
	position: relative;
	border-top: 1px solid $border;

	.dark & {
		border-color: rgba(#fff,0.15);
	}
	a {
		display: block;
		font-size: 12px;
		text-transform: uppercase;
		line-height: 1;
		padding: 10px 0;
		color: rgba($black, 0.6);

		&:hover {
			color: $color2;
		}
	}
}

/* Mobile Menu Icon */
.mobile-toggle-holder {
	cursor: pointer;
	align-items: center;
	.mobile-toggle {
		display: inline-flex;
		width: 18px;
		height: 16px;
		align-items: center;
		transition: none;
		vertical-align: middle;
		position: relative;
		span {
			display: block;
			position: absolute;
			width: 18px;
			height: 2px;
      border-radius: 1px;
			background: $black;
			content: " ";
			left: 0;
			&:nth-child(1) {
				top: 2px;
			}
			&:nth-child(2) {
				top: 7px;
			}
			&:nth-child(3) {
				top: 12px;
			}
		}
	}
	strong {
		display: inline-flex;
		position: relative;
		overflow: hidden;
		font-size: 14px;
		font-weight: 400;
		margin-right: 15px;
		line-height: 1;
		.close-label {
			position: absolute;
			top: 100%;
			left: 0;
			min-width: 100%;
			height: 100%;
		}
	}
  .mobile-toggle {
    &>span {

      &:nth-child(1) {
        transform-origin: 0 0;
      }
      &:nth-child(2) {
        @include transition(width .25s $transition);
      }
      &:nth-child(3) {
        transform-origin: 0 100%;
      }
    }
  }
}

.thb-mobile-close {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 40;
	@include scale(0);
	@include transition-duration(0s);

	.rtl & {
		right: auto;
		left: 20px;
	}
	div {
		display: block;
		width: 20px;
		height: 20px;
		position: relative;

		span {
			height: 1px;
			display: block;
			width: 20px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -8px;
			background: lighten($black, 60%);
			&:before {
				content: '';
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 1px;
				background: $black;
				@include transform-origin(0%, 0%);
				@include scale(0,1);
				@extend .quick-transition;


			}
			&:nth-child(1) {
				@include transform(rotateZ(45deg));
			}
			&:nth-child(2) {
				@include transform(rotateZ(-45deg));

				&:before {
					@include transition-delay(0.1s);
				}
			}
		}
	}
	&:hover {
		div span:before	{
			@include scale(1,1);
		}
	}
} /* End Mobile Close */