/* Cookie Bar */
.thb-cookie-bar {
  background: #fff;
	border: none;
	position: fixed;
	text-align: left;
	bottom: 15px;
	left: 15px;
	width: 315px;
	max-width: 100%;
	display: flex;
  flex-direction: column;
	margin: 0;
	padding: 20px;
	z-index: 9999;
	border-radius: 3px;
	overflow: hidden;
	@include translateY(calc(100% + 30px));
	font-weight: 400;
	color: #5e5e5e;
	font-size: 14px;
  @include box-shadow(0 2px 7px rgba(0,0,0,0.1));
	@include min-break($break-small) {
		padding: 30px;
		bottom: 30px;
		left: 30px;
	}
  p {
    font-size: 14px;
    line-height: 1.2;
  }
  .thb-cookie-text {
    a {
      font-weight: 400;
      color: $accent;
      text-decoration: underline;
    }
  }
  .thb-mobile-close {
    @include scale(0.6);
    top: 6px;
    right: 6px;

    @include min-break($break-small) {
      top: 12px;
      right: 12px;
    }
  }
}