.thb-newsletter-form {
  text-align: center;
  max-width: 650px;

  .thb-subscribe-icon-container {
    display: none;
    position: absolute;
    top: -20px;
    right: 30px;
    pointer-events: none;
    @include rotateZ(27);
  }
  .thb-subscribe-icon {
    width: 70px;
    fill: #d5d5d5;
    @keyframes thb-tada {
      from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }

      10%,
      20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
      }

      30%,
      50%,
      70%,
      90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      }

      40%,
      60%,
      80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      }

      to {
        @include scale3d(1,1,1);
      }
    }
  }
  h4 {
    text-transform: uppercase;
    letter-spacing: 0.07em;
    font-weight: 600;
  }
  .widget_subscribe {
    flex: 1;
    @include min-break($break-small) {

      margin-bottom: 0;
    }
  }
  &.thb-subscribe-element {
    margin: 0 auto;
    .widget_subscribe {
      @include min-break($break-small) {
        min-width: 280px;
      }
    }
    .newsletter-form {
      max-width: 410px;
      display: inline-flex;
      width: 100%;
    }
    &.style2 {
      display: flex;
      flex-direction: column;

      @include min-break($break-small) {
        flex-direction: row;
      }
      justify-content: space-between;
      align-items: center;
      text-align: left;
      max-width: none;
      margin: 0;
      p {
        display: none;
      }
      h4 {
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 0.1em;
        margin: 15px 0;
        font-size: 14px;
      }
      .newsletter-form {
        @include min-break($break-small) {
          max-width: 400px;
        }
      }
      .thb-custom-checkbox {
        padding-top: 10px;
      }
    }
  }
  .btn {
    @include min-break($break-small) {
      margin-left: 8px;

      .rtl & {
        margin-left: 0;
        margin-right: 8px;
      }
    }
  }
  .newsletter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .widget_subscribe,
    .btn {
      width: 100%;
    }
    @include min-break($break-small) {
      flex-direction: row;

      .widget_subscribe,
      .btn {
        width: auto;
      }
    }
    .thb-preloader {
      position: absolute;
      pointer-events: none;
      top: 50%;
      left: 0;
      width: 100%;
      height: 20px;
      margin-top: -10px;
      opacity: 0;
      .material-spinner {
        width: 20px;
        height: 20px;
      }
    }
    &.thb-loading {
      pointer-events: none;

      input,
      .btn {
        opacity: 0.3;
      }
      .thb-preloader {
        opacity: 1;
      }
    }
  } // .newsletter-form
}