.thb-article-review {
  margin-bottom: 30px;
  .post_review_comments {
    .comment_section {
      + .comment_section {
        @include max-break($break-small) {
          margin-top: 30px;
        }
      }
    }
    .post_review_comment {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 600;
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      svg {
        display: inline-flex;
        height: 16px;
        width: auto;
        margin-right: 14px;

        .rtl & {
          margin-right: 0;
          margin-left: 14px;
        }
        &.thb-pros-icon {
          fill: #0ce53f;
        }
        &.thb-cons-icon {
          fill: #e50c20;
        }
      }
    }
    p {
      font-size: 14px;
      margin-bottom: 10px;
      position: relative;
      display: block;
      padding-left: 10px;
      &:before {
        content: '-';
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  } //.post_review_comments
  .thb-counter {
    margin: 0;
    white-space: nowrap;
  }
  .thb-review-state {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
  }
  &.style1 {
    border-top: 1px solid $border;
    padding-top: 30px;
    .post_review_comments {
      margin-bottom: 25px;
    }
    .thb-review-style1-footer {
      display: flex;
      flex-direction: column;
      border-top: 1px solid $border;
      padding-top: 20px;
      @include min-break($break-small) {
        flex-direction: row;
        align-items: center;
      }
      .thb-review-style1-title {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        margin-right: 60px;
      }
      .thb-counter {
        padding-right: 30px;
        .counter {
          font-size: 40px;
          line-height: 1;
          font-weight: 600;
        }
        .thb-review-state {
          color: rgba($black,0.7);
        }
        @include max-break($break-small) {
          text-align: left;
          margin-top: 20px;
        }
      }
    }
    .thb-review-style1-steps {
      display: flex;
      width: 100%;
      margin-top: 20px;
      @include min-break($break-small) {
        margin-right: 30px;
        margin-top: 0;
      }
      .step {
        flex: 1;
        display: inline-flex;
        margin: 0 1px;
        background: $border;
        height: 6px;
        &.active {
          &.step-1 {
            background: #de0008;
          }
          &.step-2 {
            background: #ff731e;
          }
          &.step-3 {
            background: #ffb71e
          }
          &.step-4 {
            background: #aad396;
          }
          &.step-5 {
            background: #7fbe8f;
          }
          &.step-6 {
            background: #52a86a;
          }
          &.step-7 {
            background: #33b056;
          }
        }
      }
    }
  }
  &.style2 {
    .thb-article-figure {
      position: relative;
      height: 250px;
      background: $black;
      img {
        @extend .object-fit;
      }
      .thb-average {
        position: absolute;
        bottom: -45px;
        right: 40px;
        width: 112px;

        .thb-hexagon {
          stroke: #fff;
          stroke-width: 6px;
          overflow: visible;
          path {
            fill: $accent;
          }
        }
        .thb-counter {
          position: absolute;
          top: 50%;
          left: 50%;
          text-align: center;
          line-height: 1;
          @include translate3d(-50%,-55%,0);
          .counter {
            font-size: 40px;
            line-height: 1;
            font-weight: 600;
            color: #fff;
            margin-bottom: 5px;
          }
          .thb-review-state {
            color: rgba(#fff,0.7);
          }
        }
      }
    }
    .post_review_comments {
      padding: 25px;
      border: 1px solid $border;
      border-top: 0;

      @include min-break($break-small) {
        padding: 50px;
      }
      p {
        &:last-child {
          @include min-break($break-small) {
            margin:0;
          }
        }
      }
    }
  }
}
/* Steps */
.thb-review-style1-steps {
  display: flex;
  width: 100%;
  margin-top: 20px;
  @include min-break($break-small) {
    margin-right: 30px;
    margin-top: 0;
  }
  .step {
    flex: 1;
    display: inline-flex;
    margin: 0 1px;
    background: $border;
    height: 6px;
    &.active {
      &.step-1 {
        background: #de0008;
      }
      &.step-2 {
        background: #ff731e;
      }
      &.step-3 {
        background: #ffb71e
      }
      &.step-4 {
        background: #aad396;
      }
      &.step-5 {
        background: #7fbe8f;
      }
      &.step-6 {
        background: #52a86a;
      }
      &.step-7 {
        background: #33b056;
      }
    }
  }
}