.thb-article-sponsors {
  display: inline-flex;
  align-items: center;
  margin-left: 20px;
  .sponsored-by {
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    display: inline-flex;
    color: $accent;
  }
  .thb-sponsor {
    display: inline-flex;
    margin-left: 10px;

    .rtl & {
      margin-left: 0;
      margin-right: 10px;
    }
  }
  a {
    display: block;
    .thb-sponsor-logo {
      line-height: 1;
    }
    img {
      max-height: 16px;
      width: auto;
    }
  }
}