.thb-pin-it-container {
  position: relative;
  max-width: 100%;
  .thb-pin-it {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    width: auto !important;
    height: 36px !important;
    padding: 0 15px;
    opacity: 0;
    display: flex;
    font-weight: 600;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    background: rgba(#000,0.4);
    @include translate3d(-50%,-50%, 0);
    @extend .quick-transition;
    &:hover {
      background: map-get($social, pinterest);
    }
    i {
      margin-right: 8px;
      font-size: 20px;
    }
  }
  .wp-caption-text {
    & + .thb-pin-it {
      margin-top: -15px;
    }
  }
  &:hover {
    .thb-pin-it {
      opacity: 1;
    }
  }
}
